<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div ng-controller="AnalyticsFormCtrl">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Graph Analytics</h3>
  </div>

  <div class="modal-body">
    <tabset id="tabs">
      <tab title="<i class='icon-star icon-faded'></i> Key Players" template-url="partials/analytics/key_players/form.html"></tab>
      <tab title="<i class='icon-random icon-faded'></i> Connectedness" template-url="partials/analytics/connectedness/form.html"></tab>
      <tab title="<i class='icon-globe icon-faded'></i> Community" template-url="partials/analytics/community/form.html"></tab>
    </tabset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="calculate(); dismiss()" id="tour-step-13">Calculate</button>
  </div>
</div>
