<h3>Analytics</h3>

<div ng-controller="AnalyticsListCtrl">
  <h4 class="titlebar">Calculate</h4>

  <!-- Buttons to trigger modal -->
  <button type="button" class="btn btn-primary" bs-modal="'partials/analytics/barycenter_distance/form.html'">Barycenter Distance</button><br />
  <button type="button" class="btn btn-primary" bs-modal="'partials/analytics/betweenness_centrality/form.html'">Betweenness Centrality</button><br />
  <button type="button" class="btn btn-primary" bs-modal="'partials/analytics/closeness_centrality/form.html'">Closeness Centrality</button><br />
  <button type="button" class="btn btn-primary" bs-modal="'partials/analytics/eigenvector_centrality/form.html'">Eigenvector Centrality</button><br />
  <button type="button" class="btn btn-primary" bs-modal="'partials/analytics/edge_degrees/form.html'">Edge Degrees Centrality</button><br />
  <button type="button" class="btn btn-primary" bs-modal="'partials/analytics/graphlab/form.html'">GraphLab</button><br />
  <button type="button" class="btn btn-primary" bs-modal="'partials/analytics/snap/form.html'">Snap</button><br />
  <button type="button" class="btn btn-primary" bs-modal="'partials/analytics/pagerank/form.html'">PageRank</button><br />

  <!-- list -->
  <div ng-include="'partials/analytics/list.html'"></div>
</div>
