<!-- list of active analytics jobs -->
<ul style="margin-top:10px" class="list-style-type-none padding-none margin-none">
  <li ng-repeat="analytic in activeAnalytics.jobs">
    <div class="row-fluid">
      <analytic-progress-bar></analytic-progress-bar>
      <div class="btn-analytic span2 btn btn-small btn-attention" ng-click="showAnalytic({{analytic._id}})"><i class="icon-white icon-zoom-in vertical-align-middle"></i></div>
      <div class="btn-analytic span2 btn btn-small btn-default" ng-click="deleteAnalytic({{analytic}})"><i class="icon-white icon-trash vertical-align-middle"></i></div>
    </div>
  </li>
  <li ng-if="activeAnalytics.length == 0">(no active calculations)</li>
</ul>
