<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div ng-controller="AnalyticsFormCtrl" ng-init="analyticType = 'BetweennessCentrality'">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Analytics: BetweennessCentrality</h3>
  </div>

  <div class="modal-body">
    <div class="well">
      <p>
        <strong>Definition: </strong>
        <a href="http://en.wikipedia.org/wiki/Centrality#Betweenness_centrality">Betweenness centrality</a> is a
        measure of a node's centrality in a network. It is equal to the number of shortest paths from all vertices to
        all others that pass through that node. Betweenness centrality is a more useful measure (than just connectivity)
        of both the load and importance of a node.
      </p>
      <p>
        Note: This does not scale with large graphs as the complexity of the algorithm is O(n^2 + nm).
      </p>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="calculate(); dismiss()">Calculate BetweennessCentrality</button>
  </div>
</div>
