<!--
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="approximate_diameter"> Approximate Diameter<br />
-->
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="connected_component"> Connected Component<br />
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="connected_component_stats"> Connected Component Stats<br />
<!--
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="directed_triangle_count"> Directed Triangle Count<br />
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="eigen_vector_normalization"> Eigen Vector Normalization<br />
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="graph_laplacian"> Graph Laplacian<br />
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="kcore"> K-core<br />
-->
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="pagerank"> PageRank<br />
<!--
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="partitioning"> Partitioning<br />
-->
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="simple_coloring"> Simple Coloring<br />
<!--
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="simple_undirected_triangle_count"> Simple Undirected Triangle Count<br />
-->
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="sssp"> Single-Source Shortest Path<br />
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="TSC"> Total Subgraph Communicability<br />
<!--
<input type="radio" ng-model="attr.algorithm" name="algorithms" value="undirected_triangle_count"> Undirected Triangle Count<br />
-->
