<h5>Scatterplot Comparison</h5>
<p>Compare the results of analytic calculations on an X,Y axis:</p>

<div ng-controller="VizScatterplotCtrl">
  <div class="span12 well">
    <div ng-show="searchFacets.length < 2">
      To compare the results of analytic calculations, you must first run at least two analytic calculations (i.e. PageRank or Betweenness Centrality) via the People Explorer.
    </div>

    <form class="form-inline" ng-show="searchFacets.length >= 2">
      <p style="display:inline"> Filter: </p>
      <input ng-model="filter" type="text" class="input-small" placeholder="Query">
      <p style="display:inline"> Number of results: </p>
      <input ng-model="size" type="number" class="input-small" placeholder="1000">
      <br />
      <p style="display:inline"> X-Axis: </p>
      <input ng-model="range" type="text" class="input-small" placeholder="Range">
      <select class="inline form-control" style="width:45%" ng-model="facet">
        <option ng-selected="true">Search Field</option>
        <option ng-repeat="facet in searchFacets" value="{{ facet }}">{{ facet }}</option>
      </select>
      <br />
      <p style="display:inline"> Y-Axis: </p>
      <input ng-model="range2" type="text" class="input-small" placeholder="Range">
      <select class="inline form-control" style="width:45%" ng-model="facet2">
        <option ng-selected="true">Search Field</option>
        <option ng-repeat="facet in searchFacets" value="{{ facet }}">{{ facet }}</option>
      </select>
      <button type="submit" class="btn" ng-click="visualize()">Visualize</button>
    </form>
  </div>

  <h4 id="viz-scatterplot-title"></h4>
  <div ng-hide="!searching"><img src="img/icons/ajax-loader.gif"></div>
  <div id="viz-scatterplot-wrapper" style="height: 600px"></div>
</div>
