<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div ng-controller="AnalyticsFormCtrl" ng-init="analyticType = 'EdgeDegrees'">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Analytics: Edge Degrees</h3>
  </div>

  <div class="modal-body">
    <div class="well">
      <p><strong>Definition: </strong>The degree of a graph vertex v of a graph G is the number of graph edges which touch v.</p>
    </div>

    <p>
      <label>Analytic Engine</label>
      <label><input type="radio" ng-model="attr.analyticEngine" value="titan"> Titan</label>
      <label><input type="radio" ng-model="attr.analyticEngine" value="faunus"> Faunus</label>
    </p>
    <br />

    <h4>Calculation Parameters</h4>
    <pre>
      Analytic Engine: {{attr.analyticEngine}}
    </pre>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="calculate(); dismiss()">Calculate Edge Degrees</button>
  </div>
</div>
