<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div ng-controller="AnalyticsFormCtrl" ng-init="analyticType = 'ClosenessCentrality'">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Analytics: ClosenessCentrality</h3>
  </div>

  <div class="modal-body">
    <div class="well">
      <p>
        <strong>Definition: </strong>
        <a href="http://en.wikipedia.org/wiki/Centrality#Closeness_centrality">Closeness centrality</a> is the measure
        of the inverse of the sum of the distance to all other nodes. Closeness can be regarded as the measure of how
        long it will take for information to propogate from one node through the network.
      </p>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="calculate(); dismiss()">Calculate ClosenessCentrality</button>
  </div>
</div>
