<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Select Keys for Search Index</h3>
  </div>

  <div class="modal-body">
    <div class="well">
      <p><strong>Choose which fields, if any, should be indexed for search.</strong></p>
      <p>**Note: the default "select all" option will make every field searchable, but at the expense of storing all data in two locations, namely the database and search engine.</p>
    </div>

      <div class="checkbox">
        <table>
          <tr ng-repeat="key in keys">
            <td>
              <input type="checkbox"
                     name="selectedKeys[]"
                     value="{{ key.name }}"
                     ng-checked="selectedKeys.indexOf(key) > -1"
                     ng-click="toggleSelection(key)">
            </td>
            <td>
              {{ key.name }}
            </td>
            <td>
              <select ng-model="key.type" ng-options="type for type in indexTypes"></select>
            </td>
          </tr>
        </table>
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="loadGraph(); dismiss()">Load Graph</button>
  </div>
</div>
