<div ng-controller="EdgeListCtrl"> 
  
<div class="row-fluid row-padded">

  <div class="span8">
    <div class="row-fluid row-padded">
      <div class="inline float-left"> 
        <a ng-click="$parent.showExploreContext(false)" class="btn btn-success">People</a>

        <!-- dropdown button -->
          <div class="btn-group" style="margin-bottom:0px;">
          <button ng-click="$parent.showExploreContext(true)" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            Connections <span><i class="icon-plus icon-white"></i></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a modal-class="modal-medium" data-animation="am-slide-bottom" bs-modal="'partials/edge-create.html'">Add Link</a></li>
          </ul>
          </div>

      </div>
      <!-- searchbar -->
      <div class="inline input-append">
        <form ng-submit="refresh('Searching')">
          <input type="text" class="form-control inline searchbar" placeholder="Filter Results" ng-model="gridOptions.filterOptions.filterText" id="filter">
          <button type="submit" class="btn btn-default">
            <i class="icon-search icon-white" ng-hide="fullTextSearching"></i>
            <img src="img/icons/ajax-spinner.gif" ng-hide="!fullTextSearching">
          </button>

          <button class="btn btn-primary" ng-if="gridOptions.filterOptions.filterText" bs-modal="'partials/project-carve.html'">
            <i class="icon-random icon-white"></i>
            <span>Carve New Project</span>
          </button>

        </form>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        <div class="inline float-left">
          <strong>{{ totalServerItems }}</strong> {{ queryStyle }}
          <span ng-if="filterOptions.filterText">
             for '{{ filterOptions.filterText }}'
          </span>
          <span ng-if="vertexFrom">
             connected to {{ formatSelectedNames() }}
          </span>
          :
        </div>
        <div class="inline float-left" ng-if="searching">
          {{ elasticSearchAction }}... <img src="img/icons/ajax-loader.gif">
        </div>
        <div class="inline float-right">
          <button class="btn" ng-click="reload('Refreshing')"><i class="icon-refresh"></i> Refresh</button>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        <div class="gridStyle" ng-grid="gridOptions" style="height:500px"></div>
      </div>
    </div>
  </div>

  <div class="span3">
      <!-- edit functions -->
        <div>
          <ul style="list-style:none">
            <li ng-if="hasSelectedItems">

              <h4 class="titlebar">
                <span ng-if="hasSelectedItems">{{ formatSelectedNames()  }}</span>
              </h4>

              <!-- dropdown button -->
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                  Modify <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-if="selectedOne()"><a modal-class="modal-medium" data-animation="am-slide-bottom" bs-modal="'partials/edge-edit.html'">Edit</a></li>
                  <li ng-if="selectedOne()" class="divider"></li>
                  <li><a ng-click="deleteSelectedItems()" ng-show="hasSelectedItems">Delete<span ng-if="selectedMany()"> Selected</span></a></li>
                </ul>
              </div>


              <div ng-if="selectedOne()">
                <div class="row-fluid row-condensed" ng-repeat="(key, value) in selectedItems[0] track by $index">
                  <div class="span6 align-right"><strong>{{ key }}</strong>:</div><div class="span6">{{ value | truncate }}</div>
                </div>
              </div>
              <div ng-if="selectedMany()">
                <ul>
                  <li ng-repeat="edge in selectedItems">{{ edge._inV }}-{{ edge._label }}-{{ edge._outV }}</li>
                </ul>
              </div>

            </li>
          </ul>
        </div>

  </div>
</div>
</div>
