<h2 class="titlebar">Create Project</h2>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" style="margin-bottom:20px">

      <form ng-submit="save()">
        <div class="form-group">
          <label>Project Name</label>
          <input auto-focus type="text" ng-model="project.name" class="inline form-control" placeholder="Name" /><br />
        </div>

        <button class="btn btn-primary">Create</button>
        <button class="btn" ng-click="back()">Cancel</button>
      </form>


    </div>
  </div>
</div>
