<h2 class="titlebar">Project: {{ project.name }} <button ng-if="graphLoaded" ng-click="deleteItem(project)" ng-confirm-click="Really Delete?" class="btn btn-default"><i class="icon-white icon-trash"></i> Delete</button></h2>

<div ng-hide="graphLoaded">
  <h4>Creating branch...</h4>
  <img src="img/icons/ajax-loader.gif">
</div>
<div class="container-fluid" ng-show="graphLoaded">
  <div class="row-fluid" ng-show="projectHasData">
    <div class="span12" style="margin-bottom:20px">
      <h4>Explore</h4>
      <a id="tour-step-9" href="#/graphs/{{ graphId }}/vertices" class="btn btn-success">People</a>
      <a href="#/graphs/{{ graphId }}/edges" class="btn btn-success">Connections</a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span12">
          <h4>Import/Export</h4>
          <label for="file-import-format">Upload a file to add to the network:</label>
          <div ng-controller="FileUploadCtrl">
            <form id="form-file-upload" ng-upload="uploadFile(content)" ng-upload-loading="uploading()" action="api/graphs/{{ graphId }}/file-import" upload-options-enable-controls>

              <input type="hidden" name="searchkeys" value="{{selectedCheckboxesList}}">

              <select name="format" id="file-import-format" class="inline form-control">
                  <option selected>Select Format</option>
                  <option value="GraphSON">GraphSON</option>
                  <option value="GraphML">GraphML</option>
                  <option value="GML">GML</option>
                  <option value="FaunusGraphSON">Faunus GraphSON</option>
              </select>

              <div class="inline fileupload fileupload-new" data-provides="fileupload">
                <span class="btn btn-file" id="tour-step-5">
                  <span class="fileupload-new">Select file</span>
                  <span class="fileupload-exists">Change</span>
                  <input file-parse-graph type="file" name="file" id="file" style="display:inline">
                </span>
                <div>
                  <div class="alert alert-info" ng-hide="!fileParseError">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      {{ fileParseError }}
                  </div>
                  <span ng-hide="fileUploaded || fileParseError">
                    <span class="inline fileupload-preview"> </span>
                    <a class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                  </span>

                  <input ng-if="fileParsed && !fileUploaded" id="file-upload-submit" type="submit" class="inline btn btn-primary" value="Submit" ng-disabled="fileUploading"/>
                  <div class="alert alert-info" ng-hide="!fileUploaded">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      {{ uploadMessage }}
                  </div>
                  <div ng-hide="!fileUploading"><img src="img/icons/ajax-loader.gif"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row-fluid" ng-show="projectHasData">
          <div class="span12">
              <label for="file-export-format">Download this graph:</label>
              <div>
                  <form action="api/graphs/{{graphId}}/file-export" method="POST">
                      <select name="format" id="file-export-format" class="inline form-control">
                          <option selected>Select Format</option>
                          <option value="GraphSON">GraphSON</option>
                          <option value="GraphML">GraphML</option>
                          <option value="GML">GML</option>
                      </select>

                      <input type="submit" class="inline btn btn-primary" value="Download"/>
                  </form>
              </div>
          </div>
      </div>

      <div class="row-fluid" ng-show="projectHasData">
          <div class="span12">
              <label for="checkpoint-format">Checkpoint this graph:</label>
              <div ng-controller="GraphSaveCtrl">
                <form ng-submit="saveFile(content, completed)">
                  <select ng-model="format" name="format" id="checkpoint-format" class="inline form-control">
                    <option selected ng-selected="true">Select Format</option>
                    <option value="GraphSON">GraphSON</option>
                    <option value="GraphML">GraphML</option>
                    <option value="GML">GML</option>
                  </select>

                  <input type="submit" class="inline btn btn-primary" value="Checkpoint" ng-click="saveFile"/>
                  <div ng-hide="!fileSaving"><img src="img/icons/ajax-loader.gif"></div>
                  <div class="alert alert-info" ng-hide="!fileSaved">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      {{ savedMessage }}
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>

    <div class="span6" ng-controller="BranchEditCtrl" ng-show="projectHasData">
      <h4 class="titlebar">Branches <a ng-show="historyEnabled" href="#/projects/{{ projectId }}/history" class="btn btn-default btn-history">History</a></h4>
      <div class="alert alert-info" ng-show="branchMessage">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ branchMessage }}
      </div>
      <div class="alert alert-error" ng-show="branchError">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ branchError }}
      </div>

      <div class="row-fluid">
        <div class="span12"><strong id="tour-step-7" ng-if="projectHasData && graphLoaded">Current</strong>:

          <!-- split button -->
          <div class="btn-group navbar-btn btn-branch" class="display-inline">
            <button class="btn btn-medium btn-primary dropdown-toggle" data-toggle="dropdown">{{ queryCurrentBranch.branch.name | truncate }} <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="showModalCreate(queryCurrentBranch.branch)">New branch from {{ queryCurrentBranch.branch.name }}</a></li>
                <li class="divider"></li>
              <li><a href="" ng-click="commitBranch(queryCurrentBranch.branch)" ng-confirm-click="Are you sure?" >Commit {{ queryCurrentBranch.branch.name }}</a></li>
            </ul>
          </div>

        </div>
      </div>

      <div class="row-fluid" ng-if="queryBranches.branches.length>1">
        <div class="span12">Additional:</div>
      </div>
      <ul ng-repeat="branch in queryBranches.branches">
        <li ng-if="branch._id != queryCurrentBranch.branch._id">

          <!-- split button -->
          <div class="btn-group navbar-btn btn-branch" class="display-inline">
            <button class="btn btn-medium btn-default dropdown-toggle" data-toggle="dropdown">{{ branch.name | truncate }} <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <li><a href="" ng-click="showModalCreate(branch)">New branch from {{ branch.name }}</a></li>
              <li><a href="" ng-click="switchBranch(branch, $event)" ng-confirm-click="Are you sure?" >Switch to {{ branch.name }}</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="deleteBranch(branch, $event)" ng-confirm-click="Really Delete?" >Delete {{ branch.name }}</a></li>
            </ul>
          </div>
        </strong>

        </li>
      </ul>


    </div>
  </div>

  <div class="row-fluid" style="margin-top:40px" ng-if="projectHasData">
    <div class="span12">
      <h3 ng-show="showTabs()"><span id="tour-step-8">Quick View</span> of {{ graphId }}</h3>

      <img src="img/icons/ajax-loader.gif" ng-hide="showTabs()">
      <tabset id="tabs" ng-show="showTabs()">
        <tab title="Graph-D3" template-url="partials/viz/network/d3.html"></tab>
        <tab title="Graph-SigmaJS" template-url="partials/viz/network/sigma.html"></tab>
        <tab title="Histogram" template-url="partials/viz/histogram/form.html"></tab>
        <tab title="Scatterplot" template-url="partials/viz/scatterplot/form.html"></tab>
        <tab title="Map" template-url="partials/viz/map/form.html"></tab>
      </tabset>
    </div>
  </div>
</div>
