<h2 class="titlebar" id="tour-step-3">Projects <button id="tour-step-2" ng-click="createProject()" class="btn btn-primary"><i class="icon-white icon-folder-open"></i> Create</button></h2>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" style="margin-bottom:20px">
      <div class="card span3" ng-repeat="project in query.projects" ng-click="showProject({{ project._id }})">
        <div><img class="logo" src="public/img/logo.png" height="30" width="30"></div>
        <div><strong>{{ project.name }}</strong></div>
        <div><small>{{ project.creationTime | date:'yyyy-MM-dd'}}</small></div>
      </div>
    </div>
  </div>
</div>
