<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<form ng-controller="ProjectCarveCtrl" ng-submit="dismiss(); projectCarveCommunity()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Carve New Project</h3>
  </div>

  <div class="modal-body">
    <div class="well">
      <p>
        <strong>Carving</strong> off a project will create a new project from your selected community.
      </p>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <label class="required">New Project Name</label>
          <input type="text" ng-model="newProjectName">
        </div>
        <div class="span8">
          <label>Community Details</label>
          <pre ng-bind-html="community | prettify"></pre>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
    <button class="btn btn-primary">Create Project</button>
  </div>
</form>
