<h2 class="titlebar">Project: {{ project.name }}

  <span class="titlebar-buttons">
    <button ng-if="graphLoaded" ng-click="deleteItem(project)" ng-confirm-click="Really Delete?" class="btn btn-default"><i class="icon-white icon-trash"></i> Delete</button>
    <label><input type="checkbox" ng-value="panelEdit" ng-click="panelEdit=!panelEdit"></input> Edit Layout</label>
  </span>
</h2>
<div ng-hide="graphLoaded">
  <h4>Creating branch...</h4>
  <img src="img/icons/ajax-loader.gif">
</div>
<div class="container-fluid" ng-show="graphLoaded" ng-class="panelEditable()">

  <div panels class="panel">
    <div class="row-fluid">
      <div class="column" id="column1">
        <div class="dragbox" id="item-import-data" >
          <h2>Import/Export <panel-collapse-buttons></panel-collapse-buttons></h2>
          <div class="dragbox-content" >
              <div ng-include="'partials/panels/import-export.html'"></div>
          </div>
        </div>
      </div>

      <div class="column" id="column2" >
        <div class="dragbox" id="item-explore-data" ng-show="projectHasData">
          <h2>Explore <panel-collapse-buttons></panel-collapse-buttons></h2>
          <div class="dragbox-content" >
              <div ng-include="'partials/panels/explore-data.html'"></div>
          </div>
        </div>

        <div class="dragbox" id="item-view-branches" ng-show="projectHasData">
          <h2>Branches <panel-collapse-buttons></panel-collapse-buttons></h2>
          <div class="dragbox-content" >
              <div ng-include="'partials/panels/branches.html'"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid column-fullwidth">
      <div class="column" id="column3" >
        <div class="dragbox expand-full-visible" id="item-view-viz" ng-show="projectHasData">
          <h2><span id="tour-step-8">QuickViz</span> <panel-collapse-buttons></panel-collapse-buttons></h2>
          <div class="dragbox-content" >
              <div ng-include="'partials/panels/viz.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
