<h2 class="titlebar">Project: {{ project.name }} <button ng-if="graphLoaded" ng-click="deleteItem(project)" ng-confirm-click="Really Delete?" class="btn btn-default"><i class="icon-white icon-trash"></i> Delete</button></h2>

<div ng-hide="graphLoaded">
  <h4>Creating branch...</h4>
  <img src="img/icons/ajax-loader.gif">
</div>
<div class="container-fluid" ng-show="graphLoaded">

  <div panels class="panel">
    <div class="column" id="column1">
      <div class="dragbox" id="item2" >
        <h2>Explore <panel-collapse-buttons></panel-collapse-buttons></h2>
        <div class="dragbox-content" >
            <div ng-include="'partials/graphs/explore-data.html'"></div>
        </div>
      </div>
      <div class="dragbox" id="item1" >
        <h2>Import/Export <panel-collapse-buttons></panel-collapse-buttons></h2>
        <div class="dragbox-content" >
            <div ng-include="'partials/graphs/import-export.html'"></div>
        </div>
      </div>
    </div>

    <div class="column" id="column2" >
      <div class="dragbox" id="item3" >
        <h2>Branches <panel-collapse-buttons></panel-collapse-buttons></h2>
        <div class="dragbox-content" >
            <div ng-include="'partials/graphs/branches.html'"></div>
        </div>
      </div>
      <div class="dragbox" id="item4" >
        <h2><span id="tour-step-8">QuickViz</span> <panel-collapse-buttons></panel-collapse-buttons></h2>
        <div class="dragbox-content" >
            <div ng-include="'partials/graphs/viz.html'"></div>
        </div>
      </div>
      <div class="dragbox" id="item5" >
        <h2>Handle 5 <panel-collapse-buttons></panel-collapse-buttons></h2>
        <div class="dragbox-content" >
            PANEL5
        </div>
      </div>
    </div>
  </div>

</div>
