<div ng-controller="VertexCreateCtrl">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>Add Person</h2>
  </div>

  <div class="modal-body">
    <div class="row-fluid">
      <div class="span8">
        <label>Name</label>
        <input auto-focus type="text" ng-model="vertex.name" class="inline form-control" placeholder="Name" /><br />
        <label>Age</label>
        <input type="number" ng-model="vertex.age" class="inline form-control" placeholder="Age" /><br />
      </div>
      <div class="span4">
        <label>Preview</label>
        <pre>Person = {{ vertex | json }}</pre>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save();dismiss()">Add Person</button>
    <button class="btn" ng-click="dismiss()">Cancel</button>
  </div>
</div>
