<div>
  <div class="well">
    <div>Communities</div>
        <graph-community-scaled-sphere ng-repeat="community in communityMetrics.communities.details"></graph-community-scaled-sphere>
  </div>

  <div ng-repeat="selected in communitySelected">
    <div class="span6 inline-block">
      <div class="row-fluid">
        <div class="span3 align-center titlebar" ng-show="showCommunityFields(selected)"></div>
        <div class="span9">
          <div class="row-fluid">
            <div class="span2 align-right" ng-show="showCommunityProgressFields(selected)">(low)</div>
            <div class="span6">
              <div class="ui-progressbar">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 0%">
                  <div class="ui-progressbar-text text-dummy">Community{{selected.id}}</div>
                </div>
              </div>
            </div>
            <div class="span2" ng-show="showCommunityProgressFields(selected)">(high)</div>
          </div>
        </div>
      </div>
      <div class="row-fluid" ng-repeat="(metricKey, metricVal) in selected.metrics track by $index">
        <graph-community-metric></graph-community-metric>
      </div>
    </div>
  </div>
</div>
