<div class="row-fluid">

  <div class="span12" ng-controller="BranchEditCtrl">
    <h4 class="titlebar" ng-show="historyEnabled"> <a href="#/projects/{{ projectId }}/history" class="btn btn-default btn-history">History</a></h4>

    <div class="row-fluid">
      <div class="span12"><strong ng-if="projectHasData && graphLoaded">Current</strong>:

        <!-- split button -->
        <div class="padding-bottom" ng-mouseenter="dropdownOpen({{graphId}})" ng-mouseleave="dropdownClose({{graphId}})">
          <div class="btn-group navbar-btn btn-branch" class="display-inline" >
            <button class="btn btn-medium btn-primary dropdown-toggle" data-toggle="dropdown">{{ queryCurrentBranch.branch.name | truncate }} <span class="caret"></span></button>
            <ul class="dropdown-menu" ng-class="dropdownShown({{graphId}})">
              <li><a href="" ng-click="showModalCreate(queryCurrentBranch.branch)">New branch from {{ queryCurrentBranch.branch.name }}</a></li>
                <li class="divider"></li>
              <li><a href="" ng-click="commitBranch(queryCurrentBranch.branch)" ng-confirm-click="Are you sure?" >Commit {{ queryCurrentBranch.branch.name }}</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="row-fluid" ng-if="queryBranches.branches.length>1">
      <div class="span12">Additional:</div>
    </div>
    <ul ng-repeat="branch in queryBranches.branches">
      <li ng-if="branch._id != queryCurrentBranch.branch._id">

        <!-- split button -->
        <div class="padding-bottom" ng-mouseenter="dropdownOpen({{branch._id}})" ng-mouseleave="dropdownClose({{branch._id}})">
          <div class="btn-group navbar-btn btn-branch" class="display-inline">
            <button class="btn btn-medium btn-default dropdown-toggle" data-toggle="dropdown">{{ branch.name | truncate }} <span class="caret"></span></button>
            <ul class="dropdown-menu" ng-class="dropdownShown({{branch._id}})">
            <li><a href="" ng-click="showModalCreate(branch)">New branch from {{ branch.name }}</a></li>
              <li><a href="" ng-click="switchBranch(branch, $event)" ng-confirm-click="Are you sure?" >Switch to {{ branch.name }}</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="deleteBranch(branch, $event)" ng-confirm-click="Really Delete?" >Delete {{ branch.name }}</a></li>
            </ul>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>
