<!-- Modal (external ./partials/modal.html or inline ng-template) -->
<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Select Keys for Search Index</h3>
  </div>

  <div class="modal-body">
    <div class="well">
      <p><strong>Choose which fields, if any, should be indexed for search.</strong></p>
      <p>**Note: the default "select all" option will make every field searchable, but at the expense of storing all data in two locations, namely the database and search engine.</p>
    </div>

      <div class="checkbox row-fluid">
        <div class="span6" ng-if="selectedKeys.vertices.length>0">
          <h4>Vertices</h4>
          <table>
            <tr ng-repeat="key in selectedKeys.vertices">
              <td>
                <input type="checkbox"
                       name="selectedKeys[]"
                       value="{{ key.name }}"
                       id="selected-key-vertex-{{key.name}}"
                       ng-checked="key.show"
                       ng-click="toggleSelection(key)">
              </td>
              <td>
                <label for="selected-key-vertex-{{key.name}}">{{ key.name }}</label>
              </td>
              <td>
                <select class="input-medium" ng-model="key.type" ng-options="type for type in indexTypes"></select>
              </td>
            </tr>
          </table>
        </div>

        <div class="span6" ng-if="selectedKeys.edges.length>0">
          <h4>Edges</h4>
          <table>
            <tr ng-repeat="key in selectedKeys.edges">
              <td>
                <input type="checkbox"
                       name="selectedKeys[]"
                       value="{{ key.name }}"
                       id="selected-key-edge-{{key.name}}"
                       ng-checked="key.show"
                       ng-click="toggleSelection(key)">
              </td>
              <td>
                <label for="selected-key-edge-{{key.name}}">{{ key.name }}</label>
              </td>
              <td>
                <select class="input-medium" ng-model="key.type" ng-options="type for type in indexTypes"></select>
              </td>
            </tr>
          </table>
        </div>
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
    <button id="tour-step-6" class="btn btn-primary" ng-click="getSelected(); dismiss()">Load Graph</button>
  </div>
</div>
