<div class="row-fluid">
  <div class="span12">
    <tabset id="tabs" ng-show="showTabs()">
      <tab title="Graph-D3.js" template-url="partials/viz/network/d3.html"></tab>
      <tab title="Graph-Sigma.js" template-url="partials/viz/network/sigma.html"></tab>
      <tab title="Histogram" template-url="partials/viz/histogram/form.html"></tab>
      <tab title="Scatterplot" template-url="partials/viz/scatterplot/form.html"></tab>
      <tab title="Map" template-url="partials/viz/map/form.html"></tab>
    </tabset>
  </div>
</div>
